.DS_Store
.idea/
__pycache__/
.git
.local
.ipython
.jupyter
.config
.cache
.ipynb_checkpoints
.vscode
.pytest_cache
Use_Cases/VPS_Popcorn_Production/Kubernetes/experiments/.Rhistory
Use_Cases/VPS_Popcorn_Production/Kubernetes/src/workspace.code-workspace
Use_Cases/VPS_Popcorn_Production/Kubernetes/src/data/*_simulations.png
